<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My FakeBook - Friends</title>
        <style>
        a{
            color:blue;
        }
        .active{
            color:red;
        }
        .content{
            padding:200px;
            background-color:lightgray;
        }
    </style>
</head>
<body>
    <header>
        <h1>
        <a href="/">Homepage</a>
        <a href="/friends" class="active">Friends</a>
        <a href="/family">Family</a>
        <a href="/posts">Posts</a>
        </h1>
    </header>
    <div class="content">
        <h2>I dont have friends... I have family</h2>
How the documentation is organized¶
Django has a lot of documentation. A high-level overview of how it’s organized will help you know where to look for certain things:

Tutorials take you by the hand through a series of steps to create a web application. Start here if you’re new to Django or web application development. Also look at the “First steps”.
Topic guides discuss key topics and concepts at a fairly high level and provide useful background information and explanation.
Reference guides contain technical reference for APIs and other aspects of Django’s machinery. They describe how it works and how to use it but assume that you have a basic understanding of key concepts.
How-to guides are recipes. They guide you through the steps involved in addressing key problems and use-cases. They are more advanced than tutorials and assume some knowledge of how Django works.
    </div>
</body>
</html>